.openMarkerPhotos{
    position: absolute;
    z-index: 9;
    background-color: yellowgreen;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.leftPart{
    height: 100vh;
    background-color: white;
    /* overflow-y: hidden; */
}
.name{
    display: grid;
    align-items: center;
}
.name h4{
    margin-bottom: 0;
}
.photosList{
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}
.photoItem{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* background-color: black; */
    margin: 0 0 3px;
}
.photo{
    width: 100%;
    object-fit:cover;
}
.addPhoto{
    display: grid;
    align-items: center;
}
.back{
    display: grid;
    align-items: center;
}
.rightPart{
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: black;
}
.changePhoto{
    display: flex;
    position: absolute;
    bottom: 50px;
    background-color: white;
    border-radius: 99px;
}
.openPhoto{
    max-height: 100vh;
    max-width: 100%;

}
.leftPartHead{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(218,220,224);
}